@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --circle-icons: #8e7bef;
  --button: #5d3bef;
  --bg: #f9f6ff;
  --title: #222222;
  --subtitle: #423f40;
  --white: #ffffff;
  --circles-contact: #f9f5f2;
  --navbar: #8e7bef;
  /* #c0deff */
  --ff: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 50px;
  font-family: var(--ff);
}

html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  justify-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.card__menu {
  background-color: var(--navbar);
  border: 2px solid var(--subtitle);
  width: 400px;
  height: 30px;
  position: fixed;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.burguer-menu {
  display: block;
  cursor: pointer;
}

.menu {
  background-color: var(--navbar);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  min-height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;

  margin-left: -100%;

  transition: margin-left 0.5s;
}

.menu__pop {
  margin-left: 0;
}

.card__home {
  padding-top: 50px;
}
.card__title {
  color: var(--title);
  font-weight: 600;
  font-size: 24px;
}

.card__subtitle {
  color: var(--subtitle);
  font-weight: 400;
}
.card {
  background-color: var(--bg);
  height: 100%;
  width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 3rem;
}

.card__header {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
}
.card__title--header {
  color: var(--title);
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.card__subtitle--header {
  font-size: 16px;
  text-align: center;
}

.card__social {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card__social--item {
  background-color: var(--circle-icons);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.card__social--item img {
  width: 24px;
}

.button {
  margin: auto;
  width: 85%;
  height: 3rem;
  background-color: var(--button);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--white);
  font-size: 16px;
  border: none;
}

.button__preppend {
  width: 20px;
}

.card__about {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card__subtitle--about {
  font-size: 16px;
  text-align: center;
}

.card__skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card__skills--item {
  background-color: var(--circle-icons);
  padding: 20px 10px;
}

.card__skills--header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.card__title--small {
  font-size: 15px;
  text-align: center;
}

.card__rule {
  height: 20px;
}
.card__title--small_Rule {
  font-size: 15px;
  margin-left: 5px;
}

.card__subtitle--small {
  font-size: 12px;
}

.card__exp .card__title {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.card__exp--items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.card__exp--item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__exp--item img {
  width: 60px;
}

.card__exp--list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__title--big {
  grid-area: years;
  font-weight: 600;
  font-size: 20px;
}

.card__subtitle--small {
  font-size: 12px;
  font-weight: 400;
  color: var(--subtitle);
}

.card__subtitle--tiny {
  font-size: 10px;
  color: var(--subtitle);
}

.card_portfolio .card__title {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.card__portfolio--imgs {
  display: grid;
  gap: 1rem;
}

.card__contact .card__title {
  display: block;
  text-align: center;
}

.card__contact--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1.8rem 0;
}

.card__contact--item img {
  width: 60px;
  background-color: var(--circles-contact);
  border: 2px solid var(--navbar);
  border-radius: 50%;
  padding: 15px;
}

.card__title--big {
  font-size: 16px;
  font-weight: 600;
}

.card__subtitle--smal {
  font-size: 12px;
  font-weight: 400;
  color: var(--);
}

.card__footer--purple {
  color: var(--button);
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media (min-width: 820px) {
  .card__title {
    color: var(--title);
    font-weight: 600;
    font-size: 30px;
  }
  .card {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .burguer-menu {
    display: none;
  }
  .card__menu {
    width: 100%;
    height: 50px;
    left: 0;
    align-items: center;
    padding: 0 1rem;
  }

  .menu {
    position: static;
    flex-direction: row;
    margin-left: 0;
    width: auto;
    min-height: auto;
  }

  .card__header {
    gap: 2rem;
    width: min-content;
  }

  .card__title--header {
    font-size: 45px;
  }

  .card__subtitle--header {
    font-size: 18px;
  }

  .card__about {
    width: 600px;
  }

  .card__skills {
    width: 600px;
  }

  .card__exp {
    width: 800px;
    gap: 1rem;
  }

  .card__exp--item {
    background-color: #c0deff;
    border: 1px solid var(--subtitle);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .card__portfolio--imgs {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__info {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .card__contact--item img {
    width: 100px;
    background-color: #dddad8;
    border-radius: 20px;
    border: none;
  }

  .card__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .card {
    max-width: 1024px;
    background-color: var(--white);
  }
}
